
<br><br><br>
<nav class=" navbar container fixed bendaya " >
     
  
    <div class="conteneur ">
     
       <a class ="nav-link justify-content-center   a3 "  routerLink="/products1"> PRODUCTS LINES</a>
       <a class ="nav-link justify-content-center  a4 "  routerLink="/products2">STAINLESS STEEL</a>
    </div>

</nav>
<h1>STAINLESS STEEL</h1>
<h4>
       At Iraliaco, we specialize in providing high-quality stainless steel in various forms to meet all your needs.
    <br> Whether you're looking for sheets,bars,pipes,we offer competitive pricing without compromising on quality.
     <br>Our commitment to excellence ensures that you receive durable and reliable stainless steel products that stand the test of time.
     <br> Choose Iraliaco for your stainless steel solutions and experience superior service and value.
</h4>
<div class="container stain ">
  
<div class="card text-bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Austenitic stainless steels</div>
  <div class="card-body">
    <h5 class="card-title">Common Applications</h5>
    <p class="card-text">Food industry,Medical equipment,Shipbuilding,Chemical industry,Household appliances.
      Austenitic stainless steels are essential in many industries due to their unique properties, including corrosion resistance, 
      ductility, and ability to be used in extreme conditions.</p>
  </div>
</div>
<div class="card text-bg-secondary mb-3" style="max-width: 16rem;">
  <div class="card-header">Martensitic stainless steels</div>
  <div class="card-body">
    <h5 class="card-title">Common Applications    </h5>
    <p class="card-text">Cutlery and knives,Surgical instruments,Turbine blades,Industrial valves and pumps,Springs and fasteners.
      Martensitic stainless steels are crucial in applications where high strength, hardness, and wear resistance are required.
       Despite their lower corrosion resistance compared to other stainless steel types, their unique properties make them
        indispensable in many industrial and commercial uses.
    </p>
  </div>
</div>
<div class="card text-bg-success mb-3" style="max-width: 16rem;">
  <div class="card-header"><Form></Form>Ferritic stainless steels</div>
  <div class="card-body">
    <h5 class="card-title">Common Applications</h5>
    <p class="card-text">Automotive industry,Domestic appliances,Industrial equipment,Architecture and construction,Chemical processing.
      Ferritic stainless steels are valuable in many applications due to their combination of moderate corrosion resistance, 
      good formability, and cost-effectiveness. While they may not match the high corrosion resistance 
      and strength of austenitic steels, their unique properties make them suitable for a wide range of industrial and commercial uses.
    </p>
  </div>
</div>
<div class="card text-bg-light mb-3" style="max-width: 16rem;">
  <div class="card-header">Duplex stainless steel  </div>
  <div class="card-body">
    <h5 class="card-title">Common Applications</h5>
    <p class="card-text">Chemical and petrochemical industries,Oil and gas industry,Pulp and paper industry,Desalination plants,
      Construction and architecture.Duplex stainless steels are valuable in many demanding applications due to their unique combination
       of high strength, good toughness, and excellent corrosion resistance. Their balanced properties make them suitable for 
       use in harsh environments where both austenitic and ferritic steels might not perform as well.</p>
  </div>
</div>


</div>
