
<nav class=" navbar container fixed-top bendaya " >
     
    <img src="assets/image/iralialogo.jpg" alt="Bootstrap" width="45" height="45">
     <div class="conteneur">
        <a class ="nav-link  a1 " routerLink="/home">home</a>  
        <a class ="nav-link   a2"  routerLink="/about">about</a> 
        <a class ="nav-link   a2"  routerLink="/team">team</a> 
        <a class ="nav-link   a3 "  routerLink="/products">products</a>
        <a class ="nav-link   a4 "  routerLink="/contact">contact </a>
     </div>

 </nav>