<br><br>
<h1 class="container">  About us ? </h1> 

<div class="container aboutcont ">
<img src="assets/image/directeur.jpg"  width="15%" > 
   <h2>Welcome to IRALIA!</h2>
           <p class="ben" >
              Founded in 2017, IRALIA has emerged as a pioneering force in the field of food processing lines.
             Specializing in tomato paste lines, puree fruit lines, soft and clear juice lines, conserve lines, 
             dairy and derivative lines, and dates syrup lines, we are dedicated to delivering excellence in every 
             aspect of our operations.
             </p>
             <p class="ben" >
               At IRALIA, we are committed to continuous growth and innovation. In the near future, we are set to expand 
              into baby food processing lines and subsequently into medical processing and filling lines. Additionally,
              we extend our expertise to the gas and petrochemical industry, serving as consultants and providers of spare parts.
              </p>
              <p class="ben" >
               What sets us apart is our unwavering dedication to quality and precision. With a team comprised of technical experts from Italy, 
            Tunisia, and Iran, and technology sourced entirely from Italy and Germany, we adhere to European standards and utilize European
            raw materials from A to Z. This commitment ensures that our food processing lines are designed and executed with the same level
            of excellence as renowned Italian and German companies.
            </p>
            <p class="ben" >
               As we continue to grow, we remain grateful for the satisfaction and trust placed in us by our clients.
            IRALIA is proud to be the premier company in the Middle East and Arabic countries with the capability and dimension 
            to deliver exceptional food processing lines.
            </p>
            <p class="ben" >
            Thank you for choosing IRALIA. Let us embark on a journey of innovation and excellence together.
            </p>
   
</div>
