
<h1 class="container"> IRALIA   </h1> 


<div class="container">  <img src="assets/image/directeur.jpg"  width="15%" >   </div>
<p class="container">WE ESTABLISHED A NEW COMPANY IN IRAN TO MAKE FOOD PROCESSING LINE AS TOMATO PASTE LINES ,<br> 
    PUREE FRUIT LINES , SOFT AND CLEAR JUICE LINES , CONSERVE LINES , DAIRY AND DERIVATIVE LINES <br>AND DATES SYRUP LINES . 
    IN NEAR FUTURE WE WILL ENTER IN BABY FOOD PROCESSING LINES , AFTER THAT IN MEDICAL PROCESSING <br>AND FILLING LINES . 
    WE ARE ALSO IN GAS AND PETROCHEMICAL BUSINESS AS CONSULTANT AND SPARE PARTS . WE START LITTLE AND <br>SLOWLY SLOWLY 
    WE ARE GROWING UP AND THANKS TO GOD WE ARE GETTING SATISFACTION . OUR COMPANY IRALIA IS NOW THE UNIQUE<br>
     COMPANY IN MIDDLE EAST AND ARABIC COUNTRY IN THIS FIELD WITH THIS DIMENSION AND ABILITY TO DO FOOD PROCESSING <br>
     LINE EXACTLY WITH THE SAME DESIGN AS THE FAMOUS ITALIAN AND GERMANY COMPANY . ALL OUR TECHNICAL STAFF <br>
     IS FROM ITALY AND SOME ONE FROM TUNISIA AND IRAN ,
     OUR TECHNOLOGY IS COMPLETELY ITALIAN AND GERMANIC .</p>
   
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<h1>bottom page</h1>