h1{
    background: rgb(189, 228, 144);
    margin:40px;
    padding:10px;
    text-align: center;
}

.container{
    margin-top: 0px;
    width: 75%;
    height: 30%;
  /*  background: rgb(5, 175, 243);*/
    text-align: center;
  }
  
   p{
    float: right;
   }   
   img{
    height: 200px;
   }