<br><br>

<nav class=" navbar container fixed bendaya " >
     
  
     <div class="conteneur ben ">
      
        <a class ="nav-link   a3 "  routerLink="/products1">PRODUCTS LINES </a>
        <a class ="nav-link   a4 "  routerLink="/products2">STAINLESS STEEL</a>
     </div>

 </nav>
<video  class="home1" autoplay loop >
  <source src="assets/image/IRALIA (4).mp4" type="video/mp4">
</video>
<br>
<div class="container">
 <div class="row">
   <div class="col-sm-6 mb-3 mb-sm-0">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title"> FOOD PROCESSING LINES </h5>
         <p class="card-text">Complete Processing Lines for
          Food Industry Tomato Paste Fruit
          ,Puree and Juice , Conserve ,Dates
          Honey And Dairy.</p>
         <a  routerLink="/products1" class="btn btn-primary"> more details</a>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">STAINLESS STEEL</h5>
         <p class="card-text">Our extensive inventory includes stainless steel
           sheets, bars, pipes, tubes, coils, and custom shapes tailored to your specifications. 
           </p>
         <a routerLink="/products2" class="btn btn-primary">more details </a>
       </div>
     </div>
   </div>
 </div>
</div>