<h1>Products </h1>
<div class="container">
  <h2>* Tomato line machine </h2>
</div>

<br>
<!--start grid card-->
<div class="container">
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src= "assets/image/evaporateur.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Evaporator</h5>
          <p class="card-text">un paragraphe qui definit le evaporateur .un paragraphe qui definit le evaporateur  </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/evaporateur.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Evaporator</h5>
          <p class="card-text">un paragraphe qui definit le evaporateur .un paragraphe qui definit le evaporateur  </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/electric panel.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electric panel</h5>
          <p class="card-text">deux.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/citerne5.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Citerne</h5>
          <p class="card-text">trois</p>
        </div>
      </div>
    </div>
    

</div>
<br>
<!--end grid card-->

  <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card">
          <img src= "assets/image/evaporateur10.jpg"  class="card-img-top" alt="evaporateur">
          <div class="card-body">
            <h5 class="card-title">Evaporator</h5>
            <p class="card-text">un .</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src= "assets/image/acier.jpg"  class="card-img-top" alt="acier">
          <div class="card-body">
            <h5 class="card-title">acier</h5>
            <p class="card-text">deux.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src= "assets/image/citerne4.jpg"  class="card-img-top" alt="citerne">
          <div class="card-body">
            <h5 class="card-title">Citerne</h5>
            <p class="card-text">trois</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src= "assets/image/citerne3.jpg"  class="card-img-top" alt="citerne">
          <div class="card-body">
            <h5 class="card-title">Citerne</h5>
            <p class="card-text">troisieme citerne</p>
          </div>
        </div>
      </div>
  

<br>

<!--deuxieme line-->
<br>
<div class="container">
  <h2>* Tomato line machine </h2>
</div>

<br>
<!--start grid card-->
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src= "assets/image/evaporateur.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Evaporator</h5>
          <p class="card-text">un paragraphe qui definit le evaporateur .un paragraphe qui definit le evaporateur  </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/electric panel.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electric panel</h5>
          <p class="card-text">deux.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/citerne5.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Citerne</h5>
          <p class="card-text">trois</p>
        </div>
      </div>
    </div>
    

</div>
<br>
<!--end grid card-->

  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src= "assets/image/evaporateur10.jpg"  class="card-img-top" alt="evaporateur">
          <div class="card-body">
            <h5 class="card-title">Evaporator</h5>
            <p class="card-text">un .</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src= "assets/image/acier.jpg"  class="card-img-top" alt="acier">
          <div class="card-body">
            <h5 class="card-title">acier</h5>
            <p class="card-text">deux.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src= "assets/image/citerne4.jpg"  class="card-img-top" alt="citerne">
          <div class="card-body">
            <h5 class="card-title">Citerne</h5>
            <p class="card-text">trois</p>
          </div>
        </div>
      </div>
      
  

<br>
