h1{
    background: yellow;
    margin:40px;
    padding:10px;
    text-align: center;
}

.container{
    margin-top: 0px;
    width: 75%;
    height: 30%;
    background: greenyellow;
    text-align: center;
  }
  
   p{
    float: right;
   }   
   img{
    height: 200px;
   }