<h1>Products </h1>
<!--start grid card-->
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src= "assets/image/evaporateur.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Evaporator</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/electric panel.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electric panel</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/citerne5.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Citerne</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src= "assets/image/evaporateur6.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Evaporateur</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end grid card-->
