

   <div class="container">
      <div class="HOME1" >
          <video class="home1" autoplay loop >
               <source src="assets/image/homeiralia.mp4" type="video/mp4">
          </video>
    
</div> 
      <div class="HOME2">      
          <video class="home2" autoplay loop >
              <source src="assets/image/HOMEIRALIA2.mp4" type="video/mp4">
         </video>
     </div>  
     <div class="HOME3">  
         <video class="home3" autoplay loop >
              <source src="assets/image/HOMEIRALIA3.mp4" type="video/mp4">
         </video>
     </div> 
     <div class="HOME4">   
         <video class="home4" autoplay loop >
              <source src="assets/image/HOMEIRALIA4.mp4" type="video/mp4">
         </video>
     </div>  
     <div class="HOME5">  
         <video class="home5" autoplay loop >
              <source  src="assets/image/homeiralia5.mp4" type="video/mp4">
         </video>
      </div>  
     <div class="HOME6">  
         <video class="home6" autoplay loop >
          <source class="home6"  src="assets/image/homeiralia6.mp4" type="video/mp4">
        </video>
     </div>  
 
</div> 

