
<div class= "container" >
           <video class="home" autoplay loop >
                  <source src="assets/image/jaafer.mp4" type="video/mp4">
           </video>
           <video class="home1" autoplay loop >
              <source src="assets/image/homeiralia.mp4" type="video/mp4">
          </video>
          <video class="home2" autoplay loop >
              <source src="assets/image/HOMEIRALIA2.mp4" type="video/mp4">
         </video>
         <video class="home3" autoplay loop >
              <source src="assets/image/HOMEIRALIA3.mp4" type="video/mp4">
         </video>
         <video class="home4" autoplay loop >
              <source src="assets/image/HOMEIRALIA4.mp4" type="video/mp4">
         </video>
         <video class="home5" autoplay loop >
              <source src="assets/image/HOMEIRALIA5.mp4" type="video/mp4">
         </video>
         <video class="home6" autoplay loop >
              <source src="assets/image/homeiralia6.mp4" type="video/mp4">
         </video>
 </div>
