


  .home1 {
   
    max-width: 100%; /* Assurer que l'image ne dépasse pas la largeur du conteneur */
    max-height: 100%; /* Assurer que l'image ne dépasse pas la hauteur du conteneur */
  }
  .HOME1{
    display: flex; /* Utiliser un conteneur flexible */
    justify-content: center; /* Aligner horizontalement */
    align-items: center; /* Aligner verticalement */
    width: 90%; /* Assurer que le conteneur prend toute la largeur */
    height: 100vh; /* Assurer que le conteneur prend toute la hauteur de l'écran */
    margin: 50px;
  }
  .home2 {
    width:100%;
    height:300px;
  
  }
  .HOME2{
    background: red;
  }
  .home3 {
    width:100%;
    height:300px;
  
  }
  .HOME3{
    float: left;
  }
  .home4 {
    width:100%;
    height:300px;
  
  }
  .HOME4{
    float: right;
    background: red;
  }
  .home5 {
    width:100%;
    height:300px;
  
  }
  .HOME5{
    background: red;
  }
  .home6 {
    width:100%;
    height:300px;
  
  }
  .HOME6{
    background: red;
  }
 
  